.navBar {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 25px;
}

.navBarLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}