.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 45p !important;
    width: 100vw;
  }

  .footer-section {
    display: inline-block;
    text-align: center;
    margin: 20px;
    border-right: 2px solid #f63081;
    padding: 10px; 
    text-align: center;
    vertical-align: middle;
  }
  
  .footer-section:last-child {
    border-right: none; 
  }
  