.footer {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif; 
  }

  .footer-section {
    display: inline-block;
    text-align: center;
    margin: 20px;
    border-right: 2px solid #f63081;
    padding: 20px; 
    text-align: center;
    vertical-align: middle;
  }
  
  .footer-section:last-child {
    border-right: none; 
  }
  