.cartPage {
    display: flex;
    flex-direction: row;
}

.cartItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cartItemImage {
    width: 250px;
}

.cart {
    border: 2px solid pink;
}