@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');


.header {
    font-family: 'Cherry Swash', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px;
    padding: 25px;
    border-bottom: #f63081 5px solid;
    height: 250px;
    width: 98%;
}

.header h1 {
    font-size: 45px;
    color: #f63081;
    margin-top: 30px;
    margin-bottom: 0px;
}

.header h2 {
    font-size: 30px;
    color: #f630837d;
    margin-top: 15px;
}

.header img{
    width: 300px;
    height: auto;
}

.logo {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.loginButton {
    background-color: white;
    border: none;
    padding: 15px;
    margin: 15px;
    transition: 0.3s; /* Adding a smooth transition effect */
}

/*.loginButton:hover {
    font-size: 60px;
}*/

.loginButtonIcon:hover {
    font-size: 60px;
}

.loginButtonIcon {
    font-size: 40px;
    filter: hue-rotate(120deg) brightness(150%) opacity(60%);
    background-color: none;
}

.header-buttons {
    display: flex;
    flex-direction: row;
}


