.cartButtonIcon {
  font-size: 40px;
 
  color: #fff; 
  background-color: #b9b9b97d;
  padding: 5px 10px; 
  border: none; 
}

.cartButtonIcon:hover {
  font-size: 60px;
}

.cartButton:active {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: rotate(-30deg); }
  10% { transform: rotate(-15deg); }
  20% { transform: rotate(0deg); }
  30% { transform: rotate(15deg); }
  40% { transform: rotate(30deg); }
  50% { transform: rotate(15deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(-15deg); }
  80% { transform: rotate(-30deg); }
  90% { transform: rotate(-15deg); }
  100% { transform: rotate(0deg); }
}
